input[type=search] {
    height: 38px !important;
    font-size: 20px !important;
}

select[name=table_length] {
    height: 38px !important;
    font-size: 20px !important;
}

button.swal2-confirm.swal2-styled {
    margin-right: 25px;
}

button.swal2-cancel.swal2-styled {
    margin-left: 25px;
}

@media(max-width: 575.98px) {

    input[type=file].input-jurnal-file,
    textarea.input-jurnal-keterangan {
        width: 180px !important;
    }
}
